
.progress {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progressScore {
    color: #858598;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    margin: 0;
  }
  
  .progresBar {
    width: 250px;
    color: #000;
    overflow: hidden;
    margin: 15px;
  }
  
  .total {
    color: #000;
  }
  
  @media screen and (max-width: 1199px) {
    .progress {
      margin: 0 auto;
    }
  }
  
  @media (max-width: 767px) {
    .progress {
      width: 300px;
      margin: 0 auto;
      padding: 0px;
      background-color: #e0e0e0;
    }
  }

  @media (min-width: 768px) {
    .progress {
      width: 350px;
      padding: 0;
    }
  }

  @media (min-width: 1200px) {
    .progress {
      width: 330px;
      padding: 0;
    }
  }