.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log_btn {
  width: 100px;
  height: 20px;
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #858598;
  margin-left: 10px;
}
.authContainer {
  margin: 0 auto;
  width: 280px;
  display: flex;
  justify-content: center;
}



@media (min-width: 768px) {
  .authContainer {
    width: 400px;
  }
}