.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 180px;
}
.btn {
  padding: 0;
  border: none;
  margin: 0 0 0 18px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  background-color: transparent;
  color: #858598;
  font-family: Montserrat,sans-serif;
  font-weight: 600;
}
.input {
  width: 200px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;;
  margin: 0 0 0 20px;
  font-size: 12px;
  line-height: 14px;
  color: #858598;
  font-family: Montserrat,sans-serif;
  font-weight: 600;
}
.authContainer {
  margin: 0 auto;
  width: 280px;
  display: flex;
  justify-content: center;
}



@media (min-width: 768px) {
  .authContainer {
    width: 400px;
  }
  .form {
    margin-right: 60px;
  }
  .input {
    width: 160px;
  }
}

@media (min-width: 1279px) {
  .authContainer {
    width: 400px;
  }
  .form {
    margin-right: 83px;
  }
}