.container {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.completedTasksTittle {
  font-family: "Montserrat", sans-serif;
  color: #42414b;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 0 0;
  margin-bottom: 24px;
  letter-spacing: 1px;
}
hr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  width: 100%;
  background-color: #e0e0e0;
  border: 0px none;
  height: 1px;
}
.btnContainer {
  position: relative;
}
.btn {
  z-index: 10;
  outline: none;
  outline-style: 5px solid #e0e0e0;
  width: 26px;
  height: 26px;
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 3px 8.7px 1.3px rgba(3, 3, 3, 0.13);
  background: url(../../../../assets/images/icons/dropdowndouble/thin-arrowheads-pointing-down.svg)
    white no-repeat;
  background-position: center;
  background-size: 60%;
  transition: all 0.5s;
}
.btnRotate {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.btnContainer {
  text-align: center;
  margin-bottom: 32px;
}
.cardList {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: center;
}
.emptyTaskWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.empty_task {
  background: repeating-linear-gradient(
    135deg,
    #ffffff 0px,
    #ffffff 2px,
    #e0e0e0 2px,
    #e0e0e0 4px
  );
  border-radius: 6px;
  opacity: 0.7;
  width: 220px;
  height: 200px;
}

@media (min-width: 767px) {
  .container {
    width: 720px;
    margin-bottom: 100px;
  }
  .completedTasksTittle {
    text-align: left;
  }

  hr {
    width: 75%;
  }
  .cardList {
    width: 720px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cardList li {
    margin-right: 20px;
  }
  .emptyTaskWrapper {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-bottom: 100px;
  }
  hr {
    width: 50%;
  }
  .cardList {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cardList li {
    justify-self: start;
  }
  .cardList li:nth-child(4n) {
    margin-right: 0px;
  }
  .cardList li:nth-child(3n) {
    margin-right: 20px;
  }
  .empty_task {
    width: 280px;
    height: 260px;
  }
}
