.bannerSection {
  background-color: #f5d53b;
  background-position-x: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .bannerSection {
    height: 318px;
    background-position-y: 8px;
    background-image: url(../../../../assets/images/cards-t.png);
  }
}

@media (min-width: 1200px) {
  .bannerSection {
    height: 240px;
    background-position-y: -26px;
    background-image: url(../../../../assets/images/cards-d.png);
  }
}
