.header {
  width: 250px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.registerBtn {
  display: flex;
  align-items: center;
  height: 20px;
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #858598;
  outline-color: #cfcfcf;
}

.dropDownMenu{
  position: absolute;
  top: 75px;
  right: -56px;
}

@media (max-width: 767px) {
  .header {
    padding-top: 75px;
    padding-bottom: 30px;

  }
  
}

@media (min-width: 768px) {
  .header {
    height: 56px;
    width: 90%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0px 25px;
    box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1);
    
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -45%;
  }

  .authContainer{
    width: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .goalPageNavContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
