.startTaskWrapper {
  display: block;
}
.startTaskTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 14px 20px 0 20px;
  letter-spacing: 1px;
}

.goalLine {
  font-weight: 700;
  color: black;
  position: relative;
}
.goalLine::before {
  display: block;
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  background: #9ecb45;
  left: 0;
  bottom: -6px;
  border-radius: 4px;
}

.startTaskQuestion {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  padding: 28px 0 0 0;
  letter-spacing: 1px;
}
.startTaskText {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #858598;
  text-align: center;
  line-height: 20px;
  padding: 28px 55px 0 55px;
  letter-spacing: 1px;
}
.startTaskNotice {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #858598;
  text-align: center;
  line-height: 20px;
  padding: 28px 5px 0 5px;
  letter-spacing: 1px;
}
.myTasksTittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #858598;
  text-align: center;
  padding: 30px 0 0 0;
  letter-spacing: 1px;
}
.dailyTaskListTittle {
  font-family: "Montserrat", sans-serif;
  color: #42414b;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 0 0;
  margin-bottom: 24px;
  letter-spacing: 1px;
}
.emptyTaskWrapper {
  display: flex;
  justify-content: flex-start;
}
.empty_task {
  margin: 0 auto;
  background: repeating-linear-gradient(
    135deg,
    #ffffff 0px,
    #ffffff 2px,
    #e0e0e0 2px,
    #e0e0e0 4px
  );
  border-radius: 6px;
  opacity: 0.7;
  width: 220px;
  height: 200px;
}

@media (min-width: 767px) {
  .startTaskTitle {
    padding: 30px 0 0 0;
  }
  .startTaskQuestion {
    font-size: 18px;
    text-align: center;
    padding: 38px 0 0 0;
  }
  .titleDown:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .empty_task {
    margin: 0;
  }
  .myTasksTittle {
    text-align: left;
  }
  .dailyTaskListTittle {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .empty_task {
    width: 280px;
    height: 260px;
  }
  .titleDown {
    display: block;
  }

  .startTaskWrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .myTaskWrapper {
    order: -2;
    flex-basis: 100%;
  }
  .emptyTaskWrapper {
    order: -1;
  }
  .dailyTaskListTittle {
    padding: 15px 0 0 0;
    margin-bottom: 33px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767px) {
  .titleRight:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}