@import "./normalize.css";
@import "./fonts.css";

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }

  button:hover {
    cursor: pointer;
  }

  *:focus{
    outline: none;
  }
  *:active{
    outline: none;
  }