.container {
  width: 320px;
  margin: 0 auto;
}
.cardList {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: center;
}
.myTasksTittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #858598;
  text-align: center;
  padding: 8px 0 0 0;
  letter-spacing: 1px;
}
.dailyTaskListTittle {
  font-family: "Montserrat", sans-serif;
  color: #42414b;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 0 0;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

@media (min-width: 767px) {
  .container {
    
    width: 720px;
    /* margin: 0 auto; */
  }
  .myTasksTittle {
    text-align: left;
  }
  .dailyTaskListTittle {
    text-align: left;
  }
  .cardList {
    width: 720px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cardList li {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .myTaskWrapper {
    order: -2;
    flex-basis: 100%;
  }

  .dailyTaskListTittle {
    padding: 15px 0 0 0;
    margin-bottom: 33px;
    letter-spacing: 1px;
  }
  .cardList {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cardList li {
    justify-self: start;
  }
  .cardList li:nth-child(4n) {
    margin-right: 0px;
  }
  .cardList li:nth-child(3n) {
    margin-right: 20px;
  }
}
