.cardList {
  display: flex;
  justify-content: start;
}
.myTasksTittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #858598;
  text-align: center;
  padding: 30px 0 0 0;
  letter-spacing: 1px;
}
.dailyTaskListTittle {
  font-family: "Montserrat", sans-serif;
  color: #42414b;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 0 0;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

@media (min-width: 767px) {
  .myTasksTittle {
    text-align: left;
  }
  .dailyTaskListTittle {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .myTaskWrapper {
    order: -2;
    flex-basis: 100%;
  }

  .dailyTaskListTittle {
    padding: 15px 0 0 0;
    margin-bottom: 33px;
    letter-spacing: 1px;
  }
}
