.empty_task {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  background: repeating-linear-gradient(
    135deg,
    #ffffff 0px,
    #ffffff 2px,
    #e0e0e0 2px,
    #e0e0e0 4px
  );
  border-radius: 6px;
  opacity: 0.7;
  width: 280px;
  height: 261px;
}
.startTaskWrapper {
  display: flex;
}
.startTaskTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  /* margin: 50px 0 0 0; */
  padding: 50px 20px 0 20px;
  letter-spacing: 1px;
}

.goalLine {
  font-weight: 700;
  color: black;
  position: relative;
}
.goalLine::before {
  display: block;
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  background: #9ecb45;
  left: 0;
  bottom: -6px;
  border-radius: 4px;
}

.startTaskQuestion {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  /* margin: 50px 0 0 0; */
  padding: 28px 0 0 0;
  letter-spacing: 1px;
}
.startTaskText {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #858598;
  text-align: center;
  line-height: 20px;
  padding: 28px 55px 0 55px;
  letter-spacing: 1px;
}
.startTaskNotice {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #858598;
  text-align: center;
  line-height: 20px;
  padding: 28px 5px 0 5px;
  letter-spacing: 1px;
}
.myTasksTittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #858598;
  text-align: center;
  padding: 30px 0 0 0;
  letter-spacing: 1px;
}
.dailyTaskListTittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 0 0;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
